body{
    font-family: 'PT Serif', serif;
}


.bg-yellow{
    background-color:#FFC017;

}
.border-bottom-dark{
    border-bottom: 1px solid rgb(41,41,41,1);
}
.btn {
    border-radius: 99em;
}
.aside-buttons>li{
    margin-bottom: 10px;
    margin-top: 5px;
}

.border-top-gray{
    border-top: 1px solid rgb(41,41,41,1);
    contain: none;
}


#aside-content{
  position: sticky;
  top: 0;
  align-self: flex-start;
}
.header-aside{
    margin-top: 60px;
}